
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<PortfolioAplication.Models.Work>


<h2>Index</h2>
<div id="testId"> @Model.Count()  </div>

@if (Model.Count() != 0)
{
    <div class="container, workBox" >
        @foreach (Work work in Model)
        {

            @await Html.PartialAsync("_CardPartial", work);

        }
    </div>
}

