
@{
    ViewData["Title"] = "Index";

    // '~' included
    ViewData["Linkcss"] = "/css/Index.css";
    
}


<h2>Index</h2>
<div id="testId"> some text inside div @System.IO.Directory.GetCurrentDirectory() </div>
