@model IEnumerable<PortfolioAplication.Models.Photo>

<p>Add photo</p>
<form>
    <input name="myFile" type="file">
    
    <div class="form-group">
        <input type="submit" value="Add Photo" class="btn btn-success" onclick="
               @Model.
               " />
    </div>

</form>